  <p class="content is-large">
   The Recalls and Safety Alerts web application provides easy access to a comprehensive list of recalls, advisories, and safety alerts. This web application includes recalls from Health Canada, the Canadian Food Inspection Agency, and Transport Canada.
  </p>
