<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Public Recalls</title>
    </head>
    <body>
    <nav class="menu">
        <li><a href="/allrecalls">All Recalls</a></li>
        <li><a href="/foodrecalls">Food Recalls</a></li>
        <li><a href="/vehiclerecalls">Vehicle Recalls</a></li>
        <li><a href="/healthrecalls">Health Recalls</a></li>
        <li><a href="/cpsrecalls">Consumer Product Safety Recalls</a></li>
        <li><a href="/">Home</a></li>
	</nav>
    <h1 class="title">Recall Alerts Application</h1>
	      <%= yield %>
    </body>
</html>